In [1]:
# Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
from pathlib import Path

In [3]:
#Read path with Pandas
Polarbear_data = pd.read_csv('polarBear_immunityHormones_beaufort_atwood_2013-2015_v1.csv')
Polarbear_data

,BearID,Year,Day,Ageclass,Age,Sex,Dependent young,Number dependent young,StatusCurrentYR,StatusPriorYR,...,Bactericidal ability,Lysis,Oxidative barrier,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
0,20201,2013,12,Adult,11.0,F,Yes,2.0,UNK,ON,...,51.344,1.761,362.550,27.11,24.545,0.485,0.026,0.397,NaN,NaN
1,20206,2013,26,Adult,NaN,M,NaN,NaN,UNK,UNK,...,14.003,1.448,354.183,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,20300,2013,30,Adult,NaN,M,NaN,NaN,UNK,UNK,...,98.303,0.001,346.746,NaN,NaN,NaN,NaN,NaN,0.011,39.567
3,20519,2013,21,Adult,NaN,F,No,0.0,OFF,ON,...,100.000,1.281,357.902,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,20520,2013,20,Adult,NaN,F,Yes,2.0,ON,ON,...,0.000,1.537,359.761,NaN,22.971,0.210,0.091,0.300,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,22309,2015,31,Adult,NaN,F,Yes,1.0,UNK,UNK,...,100.000,NaN,358.831,7.95,23.703,0.147,0.097,0.184,NaN,NaN
133,22311,2015,45,Subadult,NaN,F,No,0.0,UNK,UNK,...,4.099,0.001,349.535,NaN,23.758,0.030,0.081,1.394,NaN,NaN
134,32362,2015,23,Adult,NaN,M,NaN,NaN,UNK,UNK,...,100.000,NaN,342.098,NaN,NaN,NaN,NaN,NaN,0.023,53.570
135,32366,2015,44,Adult,NaN,F,No,0.0,UNK,ON,...,100.000,NaN,348.451,20.20,23.192,0.041,0.052,0.399,NaN,NaN
136,32698,2015,30,Adult,NaN,F,Yes,2.0,UNK,UNK,...,100.000,NaN,382.072,56.71,23.220,1.240,0.057,0.666,NaN,NaN

In [7]:
# Get info on the Dataset
Polarbear_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137 entries, 0 to 136
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   BearID                     137 non-null    int64
 1   Year                       137 non-null    int64
 2   Day                        137 non-null    int64
 3   Ageclass                   133 non-null    object
 4   Age                        42 non-null     float64
 5   Sex                        137 non-null    object
 6   Dependent young            74 non-null     object
 7   Number dependent young     74 non-null     float64
 8   StatusCurrentYR            137 non-null    object
 9   StatusPriorYR              137 non-null    object
 10  YoungPriorYR               6 non-null      float64
 11  Body length                108 non-null    float64
 12  Mass                       114 non-null    float64
 13  BMI                        107 non-null    float64
 14  Storage energy             106 non-null    float64
 15  Hair weight (mg)           117 non-null    float64
 16  Hair cortisol              124 non-null    float64
 17  ReactiveOxySpecies         117 non-null    float64
 18  Bactericidal ability       117 non-null    float64
 19  Lysis                      96 non-null     float64
 20  Oxidative barrier          118 non-null    float64
 21  UCratio                    37 non-null     float64
 22  Hair estradiol (ng/ml)     68 non-null     float64
 23  Serum estradiol            69 non-null     float64
 24  Hair progesterone (ng/ml)  68 non-null     float64
 25  Serum progesterone         68 non-null     float64
 26  Hair testosterone (ng/ml)  50 non-null     float64
 27  Serum testosterone         44 non-null     float64
dtypes: float64(20), int64(3), object(5)
memory usage: 30.1+ KB

In [8]:
#Get a statistical summary of the dataframe
Polarbear_data.describe()

,BearID,Year,Day,Age,Number dependent young,YoungPriorYR,Body length,Mass,BMI,Storage energy,...,Bactericidal ability,Lysis,Oxidative barrier,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
count,137.000000,137.000000,137.000000,42.000000,74.000000,6.000000,108.000000,114.000000,107.000000,106.000000,...,117.000000,96.000000,118.000000,37.000000,68.000000,69.000000,68.000000,68.000000,50.000000,44.000000
mean,21821.357664,2013.905109,20.211679,7.714286,0.527027,0.833333,201.168519,231.674298,45.722065,1502.973745,...,56.503043,1.706552,350.539280,27.757297,22.955544,0.282884,0.045176,0.546412,0.020700,16.956091
std,2554.141308,0.821434,10.036280,5.465125,0.762530,0.983192,20.286926,97.568670,10.321687,1003.675094,...,44.019521,1.062638,14.530933,25.392575,0.755030,0.313323,0.029485,0.493861,0.022226,18.265587
min,20110.000000,2013.000000,1.000000,2.000000,0.000000,0.000000,105.800000,92.080000,26.717000,77.336000,...,0.000000,0.001000,303.540000,2.380000,20.363000,0.027000,0.015000,0.077000,0.007000,0.487000
25%,21015.000000,2013.000000,12.000000,3.250000,0.000000,0.000000,190.000000,174.745000,39.250500,863.119000,...,6.832000,1.273250,345.315000,9.750000,22.595500,0.078000,0.026750,0.242750,0.011000,3.603250
50%,21336.000000,2014.000000,21.000000,5.000000,0.000000,0.500000,197.500000,195.955000,43.032000,1262.300000,...,61.669000,1.858500,353.254000,18.030000,22.957500,0.193000,0.035500,0.398000,0.014000,8.654500
75%,21379.000000,2015.000000,27.000000,11.000000,1.000000,1.750000,211.500000,252.195000,49.182000,1796.162250,...,100.000000,2.315500,356.777750,41.900000,23.423250,0.412000,0.052250,0.673000,0.021000,24.307250
max,32821.000000,2015.000000,45.000000,21.000000,2.000000,2.000000,248.000000,514.830000,78.410000,4569.119000,...,100.000000,5.535000,390.438000,94.420000,24.972000,2.046000,0.138000,2.977000,0.151000,64.895000

Filter Data by Year, Sex, BearID, Body lenth, Mass, BMI

In [4]:
# Filter the DataFrame for the years 2013, 2014, and 2015
df_filtered_years = Polarbear_data[Polarbear_data['Year'].isin([2013, 2014, 2015])]
df_filtered_years

,BearID,Year,Day,Ageclass,Age,Sex,Dependent young,Number dependent young,StatusCurrentYR,StatusPriorYR,...,Bactericidal ability,Lysis,Oxidative barrier,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
0,20201,2013,12,Adult,11.0,F,Yes,2.0,UNK,ON,...,51.344,1.761,362.550,27.11,24.545,0.485,0.026,0.397,NaN,NaN
1,20206,2013,26,Adult,NaN,M,NaN,NaN,UNK,UNK,...,14.003,1.448,354.183,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,20300,2013,30,Adult,NaN,M,NaN,NaN,UNK,UNK,...,98.303,0.001,346.746,NaN,NaN,NaN,NaN,NaN,0.011,39.567
3,20519,2013,21,Adult,NaN,F,No,0.0,OFF,ON,...,100.000,1.281,357.902,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,20520,2013,20,Adult,NaN,F,Yes,2.0,ON,ON,...,0.000,1.537,359.761,NaN,22.971,0.210,0.091,0.300,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,22309,2015,31,Adult,NaN,F,Yes,1.0,UNK,UNK,...,100.000,NaN,358.831,7.95,23.703,0.147,0.097,0.184,NaN,NaN
133,22311,2015,45,Subadult,NaN,F,No,0.0,UNK,UNK,...,4.099,0.001,349.535,NaN,23.758,0.030,0.081,1.394,NaN,NaN
134,32362,2015,23,Adult,NaN,M,NaN,NaN,UNK,UNK,...,100.000,NaN,342.098,NaN,NaN,NaN,NaN,NaN,0.023,53.570
135,32366,2015,44,Adult,NaN,F,No,0.0,UNK,ON,...,100.000,NaN,348.451,20.20,23.192,0.041,0.052,0.399,NaN,NaN
136,32698,2015,30,Adult,NaN,F,Yes,2.0,UNK,UNK,...,100.000,NaN,382.072,56.71,23.220,1.240,0.057,0.666,NaN,NaN

In [5]:
# Select columns that will explore relationship between sex, year and body mass
df_filtered = df_filtered_years[['Year', 'Sex', 'Body length', 'Mass', 'BMI']]
df_filtered

     Year Sex  Body length    Mass     BMI
0    2013   F          NaN  187.79     NaN
1    2013   M        236.0  476.27  68.397
2    2013   M        231.0  398.25  56.762
3    2013   F          NaN  204.57  39.045
4    2013   F        196.4  194.14  42.629
..    ...  ..          ...     ...     ...
132  2015   F        181.0  132.00  35.838
133  2015   F        186.0  142.88  35.398
134  2015   M        224.0  408.69  65.975
135  2015   F        195.5  168.28  36.779
136  2015   F        184.5  175.54  43.489

[137 rows x 5 columns]

CLEANING DATA

In [6]:
# Handling Missing Values
# Option 1: Drop rows with any missing values in 'Body length', 'Mass', or 'BMI'
df_cleaned = df_filtered.dropna(subset=['Body length', 'Mass', 'BMI'])
df_cleaned

     Year Sex  Body length    Mass     BMI
1    2013   M        236.0  476.27  68.397
2    2013   M        231.0  398.25  56.762
4    2013   F        196.4  194.14  42.629
5    2013   F        190.8  179.62  42.366
6    2013   F        201.5  231.33  49.307
..    ...  ..          ...     ...     ...
132  2015   F        181.0  132.00  35.838
133  2015   F        186.0  142.88  35.398
134  2015   M        224.0  408.69  65.975
135  2015   F        195.5  168.28  36.779
136  2015   F        184.5  175.54  43.489

[106 rows x 5 columns]

In [12]:
# Filter data by Year, Sex, BMI and Hormones via dataframe
filter_Hormones =['Year', 'Sex', 'BMI', 'Storage energy', 'Hair cortisol', 'UCratio', 'Hair estradiol (ng/ml)', 'Serum estradiol', 'Hair progesterone (ng/ml)', 'Serum progesterone', 'Hair testosterone (ng/ml)', 'Serum testosterone']
df_filter_Hormones= Polarbear_data[filter_Hormones]
df_filter_Hormones

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
0,2013,F,NaN,NaN,2.301,27.11,24.545,0.485,0.026,0.397,NaN,NaN
1,2013,M,68.397,3935.253,3.322,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,2013,M,56.762,2351.392,4.901,NaN,NaN,NaN,NaN,NaN,0.011,39.567
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
132,2015,F,35.838,689.332,5.205,7.95,23.703,0.147,0.097,0.184,NaN,NaN
133,2015,F,35.398,525.328,6.071,NaN,23.758,0.030,0.081,1.394,NaN,NaN
134,2015,M,65.975,3478.928,3.585,NaN,NaN,NaN,NaN,NaN,0.023,53.570
135,2015,F,36.779,575.536,3.014,20.20,23.192,0.041,0.052,0.399,NaN,NaN
136,2015,F,43.489,1421.407,6.039,56.71,23.220,1.240,0.057,0.666,NaN,NaN

In [18]:
#Handling missing values for various Hormones
df_cleaned_Hormone = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Hair cortisol'])
df_cleaned_Hormone.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
1,2013,M,68.397,3935.253,3.322,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,2013,M,56.762,2351.392,4.901,NaN,NaN,NaN,NaN,NaN,0.011,39.567
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
5,2013,F,42.366,1285.612,3.177,NaN,21.509,0.127,0.020,0.443,NaN,NaN

In [19]:
#Handling missing values for various Hormones- "UCratio"
df_cleaned_Hormone_UCratio = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'UCratio',])
df_cleaned_Hormone_UCratio.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
6,2013,F,49.307,2078.426,5.328,22.65,22.737,0.412,0.053,0.334,NaN,NaN
12,2013,M,64.352,3298.855,1.551,5.11,NaN,NaN,NaN,NaN,0.010,64.895
16,2013,F,43.562,1365.626,2.979,9.75,22.916,0.040,0.038,1.374,NaN,NaN
23,2013,M,48.785,1425.850,2.116,2.38,NaN,NaN,NaN,NaN,0.021,14.081
24,2013,F,41.113,1109.077,3.854,59.86,23.468,0.044,0.033,0.296,NaN,NaN

In [21]:
#Handling missing values for various Hormones
df_cleaned_Hormone_Hairestradiol = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Hair estradiol (ng/ml)'])
df_cleaned_Hormone_Hairestradiol

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
5,2013,F,42.366,1285.612,3.177,NaN,21.509,0.127,0.020,0.443,NaN,NaN
6,2013,F,49.307,2078.426,5.328,22.65,22.737,0.412,0.053,0.334,NaN,NaN
13,2013,F,46.332,1709.785,1.768,NaN,23.054,0.435,0.018,0.452,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2015,F,38.548,893.725,6.977,NaN,23.661,0.057,0.129,0.531,NaN,NaN
132,2015,F,35.838,689.332,5.205,7.95,23.703,0.147,0.097,0.184,NaN,NaN
133,2015,F,35.398,525.328,6.071,NaN,23.758,0.030,0.081,1.394,NaN,NaN
135,2015,F,36.779,575.536,3.014,20.20,23.192,0.041,0.052,0.399,NaN,NaN
136,2015,F,43.489,1421.407,6.039,56.71,23.220,1.240,0.057,0.666,NaN,NaN

In [22]:
#Handling missing values for various Hormones- Serum estradiol
df_cleaned_Hormone_Serum_estradiol = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Serum estradiol'])
df_cleaned_Hormone_Serum_estradiol

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
5,2013,F,42.366,1285.612,3.177,NaN,21.509,0.127,0.020,0.443,NaN,NaN
6,2013,F,49.307,2078.426,5.328,22.65,22.737,0.412,0.053,0.334,NaN,NaN
13,2013,F,46.332,1709.785,1.768,NaN,23.054,0.435,0.018,0.452,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131,2015,F,38.548,893.725,6.977,NaN,23.661,0.057,0.129,0.531,NaN,NaN
132,2015,F,35.838,689.332,5.205,7.95,23.703,0.147,0.097,0.184,NaN,NaN
133,2015,F,35.398,525.328,6.071,NaN,23.758,0.030,0.081,1.394,NaN,NaN
135,2015,F,36.779,575.536,3.014,20.20,23.192,0.041,0.052,0.399,NaN,NaN
136,2015,F,43.489,1421.407,6.039,56.71,23.220,1.240,0.057,0.666,NaN,NaN

In [23]:
#Handling missing values for various Hormones- Hair progesterone
df_cleaned_Hormone_Hair_progesterone_ngml = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Hair progesterone (ng/ml)'])
df_cleaned_Hormone_Hair_progesterone_ngml.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
5,2013,F,42.366,1285.612,3.177,NaN,21.509,0.127,0.020,0.443,NaN,NaN
6,2013,F,49.307,2078.426,5.328,22.65,22.737,0.412,0.053,0.334,NaN,NaN
13,2013,F,46.332,1709.785,1.768,NaN,23.054,0.435,0.018,0.452,NaN,NaN

In [24]:
#Handling missing values for various Hormones- Serum progesterone
df_cleaned_Hormone_Serum_progesterone = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Serum progesterone'])
df_cleaned_Hormone_Serum_progesterone.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
3,2013,F,39.045,662.399,2.441,NaN,23.261,0.193,0.018,0.996,NaN,NaN
4,2013,F,42.629,1278.752,3.327,NaN,22.971,0.210,0.091,0.300,NaN,NaN
5,2013,F,42.366,1285.612,3.177,NaN,21.509,0.127,0.020,0.443,NaN,NaN
6,2013,F,49.307,2078.426,5.328,22.65,22.737,0.412,0.053,0.334,NaN,NaN
13,2013,F,46.332,1709.785,1.768,NaN,23.054,0.435,0.018,0.452,NaN,NaN

In [26]:
#Handling missing values for various Hormones- Hair testosteron (ng/ml)
df_cleaned_Hormone_Hair_testosterone_ngml = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Hair testosterone (ng/ml)'])
df_cleaned_Hormone_Hair_testosterone_ngml.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
1,2013,M,68.397,3935.253,3.322,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,2013,M,56.762,2351.392,4.901,NaN,NaN,NaN,NaN,NaN,0.011,39.567
7,2013,M,75.308,4569.119,3.035,NaN,NaN,NaN,NaN,NaN,0.008,24.009
8,2013,M,67.991,3734.377,3.220,NaN,NaN,NaN,NaN,NaN,0.008,18.441
12,2013,M,64.352,3298.855,1.551,5.11,NaN,NaN,NaN,NaN,0.010,64.895

In [27]:
#Handling missing values for various Hormones- Serum testosterone
df_cleaned_Hormone_Serum_testosterone = df_filter_Hormones.dropna(subset=['Year', 'Sex', 'BMI', 'Storage energy', 'Serum testosterone'])
df_cleaned_Hormone_Serum_testosterone.head()

,Year,Sex,BMI,Storage energy,Hair cortisol,UCratio,Hair estradiol (ng/ml),Serum estradiol,Hair progesterone (ng/ml),Serum progesterone,Hair testosterone (ng/ml),Serum testosterone
1,2013,M,68.397,3935.253,3.322,NaN,NaN,NaN,NaN,NaN,0.012,25.736
2,2013,M,56.762,2351.392,4.901,NaN,NaN,NaN,NaN,NaN,0.011,39.567
7,2013,M,75.308,4569.119,3.035,NaN,NaN,NaN,NaN,NaN,0.008,24.009
8,2013,M,67.991,3734.377,3.220,NaN,NaN,NaN,NaN,NaN,0.008,18.441
12,2013,M,64.352,3298.855,1.551,5.11,NaN,NaN,NaN,NaN,0.010,64.895